#title {
    color: #505caf;
    font-family: Copperplate;
    position: absolute;
    right: 83%;
    bottom: 91.75%;
}

#logo {
    position: absolute;
    right: 80%;
    bottom: 94.5%;
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    font-family: Copperplate;
    color: #a2b6d9;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #505caf;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cfd9eb;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #search {
    position: absolute;
    height: 30px;
    width: 260px;
    right: 55%;
    bottom: 94%;
    border-radius: 25px;
    font-family: Copperplate;
  }

  #word1 {
    position: absolute;
    font-family: Copperplate;
  }

  #grilledsalmon {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 62%;
    right: 74.25%;
  }

  #word2 {
    position: absolute;
    font-family: Copperplate;
    right: 55.5%;
  }

  #tuscansalmon {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 62%;
    right: 42%;
  }

  #word3 {
    position: absolute;
    right: 25.5%;
    font-family: Copperplate;
  }

  #poachedcod {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 62%;
    right: 10%;
  }

  #word4 {
    position: absolute;
    bottom: 53.6%;
    font-family: Copperplate;
  }

  #lemoncod {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 30%;
    right: 74.25%;
  }

  #word5 {
    position: absolute;
    bottom: 53.6%;
    right: 48%;
    font-family: Copperplate;
  }

  #turmericfish {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 30%;
    right: 42%;
  }

  #word6 {
    position: absolute;
    bottom: 53.6%;
    right: 11.5%;
    font-family: Copperplate;
  }

  #chilisnapper {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 30%;
    right: 10%;
  }

  #word7 {
    position: absolute;
    bottom: 21.5%;
    font-family: Copperplate;
  }

  #ahituna {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -2%;
    right: 74.25%;
  }

  #word8 {
    position: absolute;
    bottom: 21.5%;
    right: 55.75%;
    font-family: Copperplate;
  }

  #misocod {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -2%;
    right: 42%;
  }
