#title {
    color: #505caf;
    font-family: Copperplate;
    position: absolute;
    right: 83%;
    bottom: 91.75%;
}

#logo {
    position: absolute;
    right: 80%;
    bottom: 94.5%;
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    font-family: Copperplate;
    color: #a2b6d9;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #505caf;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cfd9eb;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #search {
    position: absolute;
    height: 30px;
    width: 260px;
    right: 55%;
    bottom: 94%;
    border-radius: 25px;
    font-family: Copperplate;
  }


  #word1 {
    position: absolute;
    font-family: Copperplate;
  }

  #sesamechicken {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 62%;
    right: 74.25%;
  }

  #word2 {
    position: absolute;
    font-family: Copperplate;
    right: 42%;
  }

  #chickenmasala {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 62%;
    right: 42.5%;
  }

  #word3 {
    position: absolute;
    font-family: Copperplate;
    right: 19.5%;
  }

  #coconutrice {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 62%;
    right: 10%;
  }

  #word4 {
    position: absolute;
    font-family: Copperplate;
    bottom: 53.5%;
  }

  #mongolianbeef {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 30%;
    right: 74.25%;
  }

  #word5 {
    position: absolute;
    font-family: Copperplate;
    bottom: 53.5%;
    right: 58%;
  }

  #ramen {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 30%;
    right: 42.25%;
  } 

  #word6 {
    position: absolute;
    font-family: Copperplate;
    bottom: 53.5%;
    right: 20.5%;
  }

  #friedrice {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: 30%;
    right: 10%;
  } 

  #word7 {
    position: absolute;
    font-family: Copperplate;
    bottom: 22%;
  }

  #tonkatsu {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -2%;
    right: 74.25%;
  } 

  #word8 {
    position: absolute;
    font-family: Copperplate;
    right: 49%;
    bottom: 22%;
  }

  #shanghainoodle {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -2%;
    right: 42%;
  } 

  #word9 {
    position: absolute;
    font-family: Copperplate;
    right: 21%;
    bottom: 22%;
  }

  #beefbroccoli {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -2%;
    right: 10%;
  } 

  #word10 {
    position: absolute;
    bottom: -11.5%;
    font-family: Copperplate;
  }

  #turmericfish {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -35%;
    right: 74.25%;
  }

  #word11 {
    position: absolute;
    bottom: -11.5%;
    right: 54%;
    font-family: Copperplate;
  }

  #california {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -35%;
    right: 42%;
  }

  #word12 {
    position: absolute;
    bottom: -11.5%;
    right: 17%;
    font-family: Copperplate;
  }

  #curry {
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -35%;
    right: 10%;
  }